*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background: center / contain no-repeat url("../images/bcgr.jpg");
}
.loading_btn{
    height: 130px;
    width: 130px;
    border: 3px solid #e95c63d2;
    margin-right: 30%;
    background: url("../images/tomato.jpg") no-repeat center;
    border-radius: 50%;
    font-weight: 600;
    color: #ffff;;
    -webkit-text-stroke: 1px rgb(252, 232, 122);
    font-size: 1.2em;
    letter-spacing: 1px;
    overflow: hidden;
    cursor: pointer;
    display:none;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.loading_btn:hover{
    animation: bounce 1s;
    opacity: .9;
}
.pizza_wrapper{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
}
.pizza_container{
    width: 500px;
    height: 500px;
    border: 5px solid #b86650;
    display: flex;
    border-radius: 50%;
    background: url("../images/pizza.JPG") no-repeat center;
    position: relative;
}
.cut_line{
    width: 3px;
    height: 100%;
    background-color: #b86650;
    position: absolute;
    left: 250px;
    border-radius: 4px;
}
.descriptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.count_friends{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;

}
.preloader{
    position: fixed;
    font-size: 40px;
    left:60%;
    top:60%;
    width: 30%;
    height: 30%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.done{ 
    opacity: 1;
    visibility: visible;
}
.footer{

}